html {
    background-color: #171717;;
}
/* <!-- Если нет класса flex, то justify content не применим --> */
body {
    color: white;
    font-family: sans-serif;
    margin: 10px 80px 180px;
    font-weight: 100;
    
}
/* 
section {
    border: 1px solid white;
    
}

article {
    border: 1px solid white;
} */

h1 {
    padding: 0px;
    font-size: 30px;
    font-weight: 500;
}

h2 {
    padding: 0px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0px;
}

p {
    font-size: 14px;
}

a {
    text-decoration:none;
    color: white;
}

.text72 {
    font-size: 72px;
}

.text24 {
    font-size: 24px;
}

.weight600 {
    font-weight: 600;
}

.weight500 {
    font-weight: 500;
}

button {
    color: white;
    margin: 30px 5px 10px 0px;
    padding: 5px 40px;
    line-height: 0.5;
    border: 1px solid #27AE60;
    background: #27AE60;
}

.white {
    border: 1px solid #fff;
    background: transparent
}
    
.gray2 {
    color: #4F4F4F;
}

.gray {
    color: #828282;
}

.green {
    color: #27AE60;
}

.line-height {
    line-height: 0; /*Нужно, чтобы убирать высоту линии текста */
}

.line-height15 {
    line-height: 1.5;
}

.line-height05 {
    line-height: 40px;
}

.padding-left {
    padding: 300px 40px 0px
}

.padding-center {
    padding: 0px 267px;
}

.padding-element {
    padding: 0px 267px;
}

.padding-up {
    padding: 40px 0px;
}

.padding-svg {
    padding: 10px;
}

.padding-svg-down {
    padding: 0px 0px 10px 0px;
}

.space-between {
    justify-content: space-between; 
}

.space-around {
    justify-content: space-around; 
}

.center {
    justify-content: center; 
    text-align: center;
    min-width: 500px;
}

.rectangle {
    padding: 30px 50px;
    width: 350px; /* ширину */
    height: 200px; /* высоту */
    background-color: #212121; 
    text-align: left ; 
    line-height: 50px; /* Чтобы текст был посередине квадрата */
    margin: 40px 30px 10px; 
}

.rectangle-skills {
    width: 1310px;
    height: 215px;  
    background-color: #212121; 
}

.special-text {
    font-size: 36px;
    font-weight: 500;
    line-height: 1px;
}

.hidden-frame {
    width: 172px; /* ширину */
    height: 129px; /* высоту */
    background-color: none; 
    text-align: center ; 
    line-height: 18px; /* Чтобы текст был посередине квадрата */
    margin: 40px 0px 10px;
}

.green-border-buttom {
    border-bottom:solid 5px #27AE60;
}
  
.spacetext {
    padding: 0px 20px 0px;
}

.flex {
    display: flex;
}

.circle-image{
    margin: 150px 30px 0px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 600px;
    height: 600px;
}

